.form {
    box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  }
  .justform{
    width: 100%;
  }
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0.25rem 2rem;
    margin-top: 10px;
    font-size: 40px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.5s;
    grid-column: span 2;
  }
  
  .form button:hover{
    background-color: black;
    color: white;

  }